/*
     Team Members Names:
                Gopica Sahiti Damineni (Z1840906)
                Sruthi Myneni          (Z1840901)
                Srikanth Reddy Nagidi  (Z1836478)
    Course   :   OMIS 485
    Due Date : 5/7/2019

    Project  :   Food Delivery Appplication (Three Sons Cafe)
    
    This is the styles.css for giving the look and feel of the menu.html page.

*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: lightskyblue;
}

.main-header {
    background-color:coral;
   
    background-size: cover;
    padding-bottom: 5px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
    font-weight: normal;
    color: white;
    
}

.band-name-large {
    font-size: 6em;
    
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: cursive;
    font-weight: normal;
    color: coral;
    text-align: center;
    font-size: 2.5em;
}

/*.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}*/

.main-footer {
    background-color: coral;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}
/*text inside button*/
.btn-primary {
    color: white;
    background-color:coral;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.logout{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.0em;
    float : right;
}
.btn-primary:hover {
    background-color: #2D9CDB;
}

.marquee{
    font-family: cursive;
    font-size: 30px;
    color: coral;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color:coral;
    margin-bottom: 15px;
    font-family: cursive;
}

.shop-item-image {
 height: 200px;
 width: 250px;
  }

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: coral;
    font-family: cursive;
    font-size: 1.2em;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: coral;
    font-family: cursive;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid coral;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 2.0em;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 0.1em;
    color: coral;
    font-family: cursive;
    font-size: 2.0em;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: coral;
    margin-left: .5em;
    font-size: 0.7em;
    font-family: cursive;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid coral;
    background-color: #eee;
    color: coral;
    padding: 0;
    text-align: center;
    font-size: 0.7em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid coral;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: coral;
    margin-right: 20px;
    font-family: cursive;
}

.cart-total-price {
    color: coral;
    font-size: 2.0em;
    font-family: cursive;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.0em;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

